# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# AWS CDK
cdk.out

# Blogs
# Ignored as these are synthesized based on the actual .md
public/blogs/*.json